<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                &copy; {{ 'now'|date('Y') }} {{ setting_value('streams::name', 'Your Site') }}. {{ trans('turnleft.theme.firestarter::addon.copyright_notice') }}
            </p>
        </div>
    </div>
</footer>
