<section id="messages">
    {% if message_exists('success') %}
        <div class="notification is-success">
            <button class="delete"></button>

            {% for message in message_get('success') %}
                {{ trans(message)|markdown }}
            {% endfor %}
        </div>
    {% endif %}

    {% if message_exists('info') %}
        <div class="notification is-info">
            <button class="delete"></button>

            {% for message in message_get('info') %}
                {{ trans(message)|markdown }}
            {% endfor %}
        </div>
    {% endif %}

    {% if message_exists('warning') %}
        <div class="notification is-warning">
            <button class="delete"></button>

            {% for message in message_get('warning') %}
                {{ trans(message)|markdown }}
            {% endfor %}
        </div>
    {% endif %}


    <!-- Error Messages -->
    {% if message_exists('error') %}
        <div class="notification is-error">
            <button class="delete"></button>

            {% for message in message_get('error') %}
                {{ trans(message)|markdown }}
            {% endfor %}
        </div>
    {% endif %}
</section>
