<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">

    <head>
        {% block metadata deferred %}
            {% include "theme::partials/metadata" %}
        {% endblock %}
    </head>

    <body>

        {% include "theme::partials/header" %}

        <main id="app">
            <div class="container">

                {{ options }}

                {# Alerts and messages #}
                {% include "theme::partials/messages" %}

                {# Page component, defaults to Common #}
                <component
                    is="{% block component %}Common{% endblock %}"
                    :inject="{% block inject %}{}{% endblock %}"
                    inline-template>

                    {# Content #}
                    <div class="content">
                        {% block content %}{% endblock %}
                    </div>
                </component>
            </div>
        </main>

        {% include "theme::partials/footer" %}

        {% block js deferred %}
            {% include "theme::partials/scripts" %}
        {% endblock %}

    </body>

</html>
